.header-container {
    margin: 1rem 4rem;
}

.logo-container {
    margin: 2rem 0rem;
}

.header-logo{
    font-size: 1.7rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

h2 {
    font-size: 1.1rem;
}

.work-container {
    margin-left: 0rem;
    padding-inline-start: 1rem;
}

.header-list {
    list-style: none;
    color: rgb(151, 151, 151);
    text-decoration: none;
}

.header-list:hover {
    cursor: pointer;
    color: black;
}

.socialMedia-container {
    display: flex;
    gap: 1rem;
}

.social-media {
    color: rgb(151, 151, 151);
}

.social-media:hover {
    cursor: pointer;
    color: black;
}

.header-contact {
    color: rgb(151, 151, 151);
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
}

.header-contact:hover {
    cursor: pointer;
    color: black;
}
